<div class="jumbotron" id="splash">
  <h1><span>OHANA Potluck App</span></h1>
</div>
<div class="container">
<p id="tagline">Host a Potluck or attend one!</p>
</div>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit sit amet arcu sit amet accumsan. Sed blandit molestie est, in pretium arcu porta sit amet. Quisque sodales est ut tortor malesuada tempus. Nullam sit amet nisl in lacus tempus molestie ac hendrerit magna. Cras eu viverra magna, at aliquet sem. Cras eu viverra magna, at aliquet sem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit sit amet arcu sit amet accumsan. Sed blandit molestie est, in pretium arcu porta sit amet. Quisque sodales est ut tortor malesuada tempus. Nullam sit amet nisl in lacus tempus molestie ac hendrerit magna. Cras eu viverra magna, at aliquet sem.</p>
    </div>
  </div> 
  <div class="col-md-6">
    <div class="panel panel-default" id="right_column">
      <h2>Ohana</h2>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit sit amet arcu sit amet accumsan. Sed blandit molestie est, in pretium arcu porta sit amet. Quisque sodales est ut tortor malesuada tempus. Nullam sit amet nisl in lacus tempus molestie ac hendrerit magna. Cras eu viverra magna, at aliquet sem. Cras eu viverra magna, at aliquet sem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit sit amet arcu sit amet accumsan. Sed blandit molestie est, in pretium arcu porta sit amet. Quisque sodales est ut tortor malesuada tempus. Nullam sit amet nisl in lacus tempus molestie ac hendrerit magna. Cras eu viverra magna, at aliquet sem.</p>    
    </div>
  </div>