<div class="jumbotron" id="splash">
  <h1><span>OHANA Potluck App</span></h1>
</div>
<div class="container">
  <p id="tagline"><strong>Host a Potluck or attend one!</strong></p>
</div>
  <section class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">About</h2>
            <hr class="light">
              <p class="text-faded">The cuisine of Hawaii incorporates five distinct styles of food reflecting the diverse food history in the Hawaiian Islands. Immigrants brought their own food culture with them. The Chinese introduced dim sum dishes and sweet and sour flavors. Koreans brought kimchi and cooked marinated meats with sweet garlic sauce. The Japanese introduced bento and sashimi, tofu and soy sauce. The Portuguese brought pork, tomatoes and chili peppers and baked sweet bread and malasadas. Puerto Rican immigrants contributed spicy soups, pasteles and casseroles. Filipinos brought beans and peas and introduced vinegar and garlic dishes.</p>
              <p>Today, many local restaurants and roadside food stands serve the ubiquitous plate lunch (also called loco moco), featuring the Asian staple, two scoops or rice, American macaroni salad, topped with a hamburger patty, a fried egg and brown gravy. Variations of the dish include Japanese style konkatsu or kalua pig and beef.</p> 
          </div>
        </div>
      </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Ohana</h2>
            <hr class="dark">
              <p class="text-faded">The word comes from oha, which is the highly revered taro plant, and it signifies that all ohana come from the same root. No matter how distantly ancient Hawaiians were related, they recognized that they all came from the same root and thus were all part of the same family. Ohana is more generally used to describe any group of people with a common bond; people in Hawaii have a community ohana, a friends ohana, even a work ohana. One of the clearest findings from happiness research is that humans are social creatures, we need to feel like we're part of a group and that we have support and security. Ohana, means family and belonging. In Hawaiian culture, Ohana emphasizes that families are bound together and members must cooperate and remember one another.</p>
              <p>Ohana definitely extends to potlucks in which family and friends gather around to share their love of food with everyone, so enjoy some delicious foods with loved ones.</p> 
          </div>
        </div>
      </div>
  </section>
      </div>
    </div>
  </div>  
</div>  