<div class="jumbotron">
  <h1><span>Photos</span></h1>
</div>  
<div class="container">
  <div class="row">
      <div class="panel panel-default">
        <% @urls.each do |url| %>
          <img class="food" src="<%= url %>"</>
        <% end %>
      </div>
  </div>      
</div>  