<div class="jumbotron">
  <h1><span>Photo</span></h1>
</div>  
  <div>
    <% count = 0 %>
    <% @urls.each do |url| %>
    <% count += 1 %>
    <div>
      <h3>Photo #<%= count %></h3>
      <img src="<%= url %>" />
    </div>
    <% end %>
  </div>
</div>