/*
 * app/assets/stylesheets/application.css
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
/*
 * ...
 *
 */


.jumbotron {
  background-image: image-url('food.jpg');
  background-repeat: no-repeat;
  height: 450px;
  background-size: cover;
  margin-bottom: 40px;
}

#splash {
  height: 600px;
}

#tagline {
  margin-top: -25px;
  padding: 10px;
}

 .nav {
  padding-right: 20px;
 }

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  background-color: #ECF0F1;
}

h1 { 
  position: absolute; 
  top: 200px; 
  left: 0; 
  width: 100%; 
}

h1 span { 
  color: white; 
  font: 35px/55px; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px; 
}

h1 span.spacer {
   padding:0 5px;
} 

li {
  list-style-type: none;
}

h2 {
  padding: 12px;
  font-size: 22px;
}

.menu {
  max-height: 90%;
  max-width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
}

.button {
  padding: 12px;
}

#event {
  padding: 50px;
}

.food {
  padding: 20px;
}