/*
 * app/assets/stylesheets/application.css
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
/*
 * ...
 *
 */


.jumbotron {
  background-image: image-url('food.jpg');
  background-repeat: no-repeat;
  height: 450px;
  background-size: cover;
  margin-bottom: 40px;
}

#splash {
  height: 600px;
}

#flash_messages {
  margin-top: 45px;
}
#tagline {
  margin-top: -25px;
  padding: 10px;
}

.nav {
  padding-right: 20px;
}

.navbar-brand {
  font-family: 'Open Sans';
  font-size: 25px;
  font-weight: 600;  
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  background-color: #ECF0F1;
  font-weight: 400;  
}

h1 { 
  position: absolute; 
  top: 200px; 
  left: 0; 
  width: 100%; 
}

h1 span { 
  color: white; 
  font: 35px/55px; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px; 
}

h1 span.spacer {
   padding:0 5px;
} 

li {
  list-style-type: none;
}

h2 {
  padding: 12px;
  font-size: 22px;
}

#rsvp-text {
  margin-left: -15px;
}

#menu-text {
  padding-left: 10px;
}

.menu {
  max-height: 90%;
  max-width: 90%;
  margin-top: 50px;
  padding-bottom: 20px;
}

.section-heading {
  font-weight: bold;
}

p {
  padding-bottom: 20px;
}

.dark { 
  background-color: black;
  height: 2px; 
  border: 1; 
}

.light { 
  height: 2px; 
  border: 1; 
}

.button {
  padding: 12px;
}

.bg-primary {
  background-color: #00003D;
}

#event {
  padding: 50px;
  margin-bottom: 50px;
}

#rsvp {
  margin-top: 50px;
  padding: 50px;
  color: black;
  margin-left: -55px;
}
.food {
  width: 30%;
  height: 30%;
  padding: 20px;

}

#name {
  padding-left: 85px;
}

.button {
  padding-left: 85px;
}

#potluck {
background-color: #00003D;  
color: white;
padding-bottom: 50px;
padding-top: 30px;
margin-top: -50px;
}

#user {
background-color: #00003D; 
color: white; 
padding-bottom: 50px;
padding-top: 30px;
margin-top: -50px;
}

footer {
  background-color: #00003D;
  height: 100px;
}

#footer {
  padding-top: 30px;
  color: white;
}